ls venv &> /dev/null || python3 -mvenv venv || exit 1
source venv/bin/activate || exit 1

pip install pip-tools pip-audit|| exit 1

if [ ! -f "requirements.txt" ]; then
  echo "requirements.txt not found. Compiling from pyproject.toml..."
  pip-compile -v --all-extras --generate-hashes --allow-unsafe --output-file=requirements.txt pyproject.toml || exit 1
#   --allow-unsafe / --no-allow-unsafe
#     Pin packages considered unsafe: distribute,
#     pip, setuptools.
#
#     WARNING: Future versions of pip-tools will
#     enable this behavior by default. Use --no-
#     allow-unsafe to keep the old behavior. It is
#     recommended to pass the --allow-unsafe now
#     to adapt to the upcoming change.
fi

echo "Auditing locked dependencies..."
# not using --strict because no vulnerability info can be found for http-request-recorder
pip-audit --require-hashes -r requirements.txt || exit 1

echo "Installing with strict hash verification..."
pip install --require-hashes --only-binary :all: -r requirements.txt || exit 1

pre-commit install
